@page
@model Reflections.Nexus.WebUI.Pages.JobTitle.IndexModel

@{
    ViewData["Title"] = "List";
    ViewData["Entity"] = "JobTitles";
    ViewData["BreadCrumb"] = "<a href='/JobTitles' class='breadcrumb-item'>JobTitles</a>";
}


<div class="card">
<div class="card-header pb-0">
        <h5 class="mb-0">JobTitles List</h5>
    </div>
<table class="table datatable table-striped table-hover table-bordered">
    <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle[0].Id)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Department)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle[0].IsActive)
                </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="text-teal"><i class="icon-pencil7"></i> Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="text-primary"><i class="icon-file-text2"></i> Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="text-pink"><i class="icon-bin"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
