@page
@model Reflections.Nexus.WebUI.Pages.Employee.IndexModel

@{
    ViewData["Title"] = "List";
    ViewData["Entity"] = "Employees";
    ViewData["BreadCrumb"] = "<a href='/Employees' class='breadcrumb-item'>Employees</a>";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="card">
<div class="card-header pb-0">
        <h5 class="mb-0">Employees List</h5>
    </div>
<table class="table datatable table-striped table-hover table-bordered">
    <thead>
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee[0].Id)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].MedicalInsurance)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].IdentificationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Manager)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Employee[0].MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].MilitaryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].WorkingModel)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee[0].UpdatedBy)
                </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.Value)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalInsurance)
            </td>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentType.Value)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdentificationType.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.FullName)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.MaritalStatus.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilitaryStatus.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingModel.Value)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="text-teal"><i class="icon-pencil7"></i> Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="text-primary"><i class="icon-file-text2"></i> Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="text-pink"><i class="icon-bin"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
